<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>E8020.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D93FA31C1BCAC970002F7A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D93FA3381BCAC970002F7A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D93FA3431BCAC970002F7A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
